.banner {
  background-color: black;
  height: 60vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner p {
  width: 80%;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.banner-button-container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.banner-button-container button {
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner-button-container button:first-child {
  background-color: orange;
  color: black;
  border: 2px solid orange;
}

.banner-button-container button:first-child:hover {
  background-color: transparent;
  color: orange;
}

/* Second button: outlined yellow with yellow text */
.banner-button-container button:last-child {
  background-color: transparent;
  color: orange;
  border: 2px solid orange;
}

.banner-button-container button:last-child:hover {
  background-color: orange;
  color: black;
}

.highlight {
  color: orange; /* hot pink - you can change to another appropriate color if needed */
}

@media screen and (max-width: 468px) {
  .banner p {
    font-size: 16px;
  }
}
